
@{
    ViewBag.Title = "Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags {
    <meta name='Title' content='@ViewBag.BlogTitle' />
    <meta name='keywords' content='@ViewBag.BlogMetaTags' />
    <meta name='description' content='@ViewBag.BlogMetaDescription' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/blog/Page/@ViewBag.UniqueCode" />

}
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12 p0 blogInnerbanner">
    @*<img src="@Url.Content("~/")img/blog/blogInner.jpg" class="img-responsive" />*@
    <img src="@Url.Content("~/")@ViewBag.BlogImage" class="img-responsive" />
    <h5>@ViewBag.BlogTitle</h5>
</div>
<div class="clearfix"></div>

<div class="Inner-blog-area">
    <div class="container">
        <h4>“Education is the most powerful weapon one can use to change the world.“</h4>
        <h6>- Nelson Mandela</h6>
    </div>
</div>
<div class="clearfix"></div>
<div class="InblogBottom-area">
    <div class="container">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <h4><i class="fa fa-calendar"></i> 26 Apr, 2019</h4>
            <h4><i class="fa fa-bookmark-o"></i> Miscellaneous</h4>

            <ul class="InblogBottomUl">
                <li class="shareIcon"><a href="" target="_blank"><i class="fa fa-share-alt"></i></a></li>
                <li class="fbIcon"><a href="http://www.facebook.com/sharer.php?u=https://www.studyinindia.gov.in/blog/Page/@ViewBag.UniqueCode" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="twIcon"><a href="https://twitter.com/share?url=https://www.studyinindia.gov.in/blog/Page/@ViewBag.UniqueCode&amp;text=@ViewBag.BlogTitle&amp;hashtags=@foreach (string str in (string[])ViewBag.BlogTag) { Html.Raw("#" + str + ""); } " target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="whtsIcon"><a href="https://api.whatsapp.com/send?text=https://www.studyinindia.gov.in/blog/Page/@ViewBag.UniqueCode"><i class="fa fa-whatsapp"></i></a></li>
                <li class="mailIcon"><a href="mailto:?Subject=@ViewBag.BlogTitle&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20https://www.studyinindia.gov.in/blog/Page/@ViewBag.UniqueCode"><i class="fa fa-envelope"></i></a></li>
                <li class="docIcon"><a onclick="copyToClipboard('https://www.studyinindia.gov.in/blog/Page/@ViewBag.UniqueCode');"><i class="fa fa-files-o"></i></a></li>
            </ul>

            <div class="InblogBottombtn">
                <h5>TAGS</h5>
                <ul>
                    @foreach (string str in (string[])ViewBag.BlogTag)
                    {
                        <li><a>#@str</a></li>
                    }
                </ul>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="InBlog-center-area">
                @(new HtmlString(ViewBag.BlogContent))
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="InBlog-rightAside">
                <a href="">
                    <div class="blogBox">
                        <div>
                            <img src="~/img/blog/innerblog-01.jpg" class="img-responsive" />
                        </div>
                        <h6>India, A home Away From Home</h6>
                    </div>
                </a>
            </div>
            <div class="InBlog-rightAside">
                <a href="">
                    <div class="blogBox">
                        <div>
                            <img src="~/img/blog/innerblog-02.jpg" class="img-responsive" />
                        </div>
                        <h6>Managing your expenses while studying in India</h6>
                    </div>
                </a>
            </div>
            <div class="InBlog-rightAside">
                <a href="">
                    <div class="blogBox">
                        <div>
                            <img src="~/img/blog/innerblog-03.jpg" class="img-responsive" />
                        </div>
                        <h6>Your one stop guide to passport and visa</h6>
                    </div>
                </a>
            </div>
            <div class="InBlog-rightAside">
                <a href="">
                    <div class="blogBox">
                        <div>
                            <img src="~/img/blog/innerblog-04.jpg" class="img-responsive" />
                        </div>
                        <h6>8 business hacks you will learn only in India</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



<div class="clearfix"></div>

@section styles{
    <link href="~/assets/lib/jquery-toast/jquery.toast.css" rel="stylesheet" />
    <link href="~/css/style-blog.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/assets/lib/jquery-toast/jquery.toast.js"></script>
    <script>
        function copyToClipboard(text) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(text).select();
            document.execCommand("copy");
            $temp.remove();
            $.toast({ text:'Url is copied to clipboard!', allowToastClose: false})
        }
    </script>
}