<!-- footer widget area start -->
<div id="myBtn">
    @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Caution Notice</button>*@
    <a class="btn btn-info btn-lg" href="~/admission/Login">Student Login</a>
    <a class="btn btn-info btn-lg" href="~/admission/Registrations">Register Now</a>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content caution-model">
            <div class="modal-header caution-header">
                <button type="button" class="close cautionClose_btn" data-dismiss="modal">&times;</button>
                <h4 class="caution-title">Caution Notice</h4>
            </div>
            <div class="modal-body caution-body">
                <p class="text-justify">This is to inform that Study in India/ EdCIL (India) Ltd. is currently not associated with any educational consultant/ agents anywhere in the world. If someone promises a seat in exchange for money, please refrain from entering into any such transaction as Study in India does not charge anything for seeking admission through the portal</p>
            </div>

        </div>
    </div>
</div>
<div class="footer-widget-area wow fadeInUp main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-widget footer-logo">
                    <a href="@Url.Content("~/")Home"> <img src="@Url.Content("~/")img/logo.png" class="img-responsive"> </a> 
                    <span class="footer-text text-justify">
                        Education is emerging to be one of the top focuses <br />
                        of all the developing nations around <br />
                        the world.
                    </span>
                </div>
                <div class="single-widget cta">
                    <h4><span>Follow us on </span></h4>
                    <ul class="social_icon">
                        <li><a href="https://www.facebook.com/Study-in-India-408981989527352/"><i class="fa fa-facebook f30"></i></a></li>
                        <li><a href="https://twitter.com/StudyInIndiaGov?lang=en"><i class="fa fa-twitter f30"></i></a></li>
                        <li><a href="https://www.instagram.com/studyinind/"><i class="fa fa-instagram f30"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="single-widget cta">
                    <h4><span>Programme</span></h4>
                    <ul>
                        <li><a href="/InstituteSearch/Index?d=6"><i class="fa fa-caret-right"></i> Under Graduate</a></li>
                        <li><a href="/InstituteSearch/Index?d=3"><i class="fa fa-caret-right"></i> Post Graduate</a></li>
                        <li><a href="/InstituteSearch/Index?d=4"><i class="fa fa-caret-right"></i> PhD</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-xs-12">
                <div class="single-widget cta">
                    <h4><span>Important links</span></h4>
                    <ul>
                        <li><a href="@Url.Content("~/")Home"><i class="fa fa-caret-right"></i> Home</a></li>
                        <li><a href="@Url.Content("~/")planyourstudies/DetailsofIndianEducations"><i class="fa fa-caret-right"></i> Indian Higher Education</a></li>
                        <li><a href="@Url.Content("~/")planyourstudies/visaregulations"><i class="fa fa-caret-right"></i> Visa Rules</a></li>
                        <li><a href="@Url.Content("~/")Privacypolicy"><i class="fa fa-caret-right"></i> Privacy Policy</a></li>
                        <li><a href="@Url.Content("~/")events"><i class="fa fa-caret-right"></i> Events</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-3">
                <div class="single-widget cta contactDetail-box">
                    <h4><span>Contacts</span></h4>
                    <!-- <h3 class="contact-title"><span>Study in India</span></h3>-->
                    <ul class="ContactLeft-ul">
                        <li class="font_caps"><i class="fa fa-building-o" aria-hidden="true"></i>EdCIL (India) Limited <br />(A miniratna CPSE under Ministry of HRD, Govt of India)</li>
                        <li class="font_caps"><i class="fa fa-map-marker" aria-hidden="true"></i>EdCIL House, 18A, Sector 16 A, Noida, Uttar Pradesh - 201301 (India) </li>
                        <li class="f20"><i class="fa fa-phone f20"></i><strong> +91 9899-450-350</strong></li>
                        <li class="f20"><img src="~/img/FB Messenger Logo_Black.png" style="margin-right:7px;width:15px;height: 18px;margin-top: 2px;" />  <a href="http://m.me/studyinindiagov" class="blue-text"><strong>Facebook Messenger</strong></a></li>
                        <li class="t_in"><i class="fa fa-envelope"></i> <a href="mailto:Studyinindia@edcil.co.in" class="blue-text"><strong>help.studyinindia@gov.in</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer widget area end -->
<!-- footer bottom area start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb0">&copy;2018 <a href="">Implemented by EdCIL (India) Limited </a></p>
            </div>
        </div>
    </div>
</div>
