<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- FAVICON -->
    <link rel="icon" href="~/img/favicon.ico">
    <title>Study in India</title>
    <link rel="stylesheet" type="text/css" href="~/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <link href="~/css/fonts/MaterialDesign-Webfont-master/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/")assets/css/style.css" type="text/css" />
    @*<link href="~/assets/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />*@
    <link href="~/css/custom-institute.css" rel="stylesheet" />

    @RenderSection("styles", false)
    @Html.Partial("_GoogleTagManagerHead")
    <script src="~/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <input type="hidden" id="hdfBaseUrl" value="@Url.Content("~/")" />
    <div class="be-wrapper be-collapsible-sidebar">
        <nav class="navbar navbar-default navbar-fixed-top be-top-header">
            @Html.Partial("_HeaderInstitute")
        </nav>
        <div class="be-left-sidebar">
            @Html.Partial("_MenuInstitute")
        </div>
        <div class="be-content">
            <div class="page-head">
                @RenderSection("PageHead", false)
            </div>
            <div class="main-content container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    @*<script src="@Url.Content("~/")assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
        <script src="@Url.Content("~/")assets/js/main.js" type="text/javascript"></script>
        <script src="@Url.Content("~/")assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>*@
    @Html.Partial("_GoogleTagManagerBody")
    <script src="@Url.Content("~/")assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/")assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/")assets/js/main.js" type="text/javascript"></script>
    <script src="@Url.Content("~/")assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="@Url.Content("~/")assets/lib/sweetalert2/sweetalert2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
            $('.allow_only_number').keypress(function (e) {
                return isNumber(e, this);
            });
        });
        function isNumber(evt, element) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (
                //(charCode != 45 || $(element).val().indexOf('-') != -1) &&      // &#8220;-&#8221; CHECK MINUS, AND ONLY ONE.
                //(charCode != 46 || $(element).val().indexOf('.') != -1) &&  && charCode == 9 && charCode == 13    // &#8220;.&#8221; CHECK DOT, AND ONLY ONE.
                ((charCode < 48 || charCode > 57) && charCode != 8 && charCode != 9 && charCode != 13))
                return false;
            return true;
        }
    </script>
    <script language="javascript" type="text/javascript">
        var clicked = false;
        function CheckBrowser() {
            if (clicked == false) {
                //Browser closed
            }
            else {
                //redirected
                clicked = false;
            }
        }
        function bodyUnload() {
            if (clicked == false)//browser is closed
            {
                var request = GetRequest();
                request.open("POST", "../Logout", false);
                request.send();
            }
        }
        function GetRequest() {
            var xmlhttp;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            return xmlhttp;
        }
    </script>
    @RenderSection("scripts", false)
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118738693-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-118738693-1');
    </script>
</body>
</html>
