  <!--/.navbar-header -->
<div class="clearfix"></div>
<nav>
    <div class="header-area navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="navigation_part">
            <div class="container">
                <div class="row">
                    <div class="menu-right">
                        <div class="navbar-collapse collapse" id="navigation">
                            <ul class="nav navbar-nav navbar-left">
                                <li class=""><a href="@Url.Content("~/")home"><!--<i class="fa fa-home" style="font-size: 18px;" aria-hidden="true"></i>--> Home</a> </li>
                                <li class="dropdown yamm-fw">
                                    <a href="@Url.Content("~/")whyindia" class="dropdown-toggle" data-hover="dropdown" data-delay="200">Why India <b class="caret"></b></a>
                                    <ul class="dropdown-menu single-Dropdown">
                                        <li>
                                            <ul>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")whyindiaeducation">Education </a></li>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")whyindiatravel">Travel </a></li>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")whyindiaculture">Culture </a></li>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")whyindiaexperiences">Experiences</a></li>
                                            </ul>
                                            <!-- /.yamm-content -->
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown yamm-fw">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Plan Your Studies <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h5>Requirements</h5>
                                                        <ul class="full-dropDown">
                                                            <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstudies/visaregulations">Visa Regulations </a></li>
                                                            <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstudies/frro">FRRO </a></li>
                                                            <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstudies/englishproficiency">English Proficiency </a></li>
                                                            <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstudies/eligibilitycriteria">Eligibility Criteria and Qualification-SAT Score/ Highest Degree Score </a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h5>Programmes &amp; Universities</h5>
                                                        <ul class="full-dropDown">
                                                            <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")InstituteSearch">List of Institutes/Universities-Discipline wise </a></li>
                                                            <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")shorttermcourse">Short-term/Niche Courses </a></li>
                                                            <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")GradesConversion">Grade Conversion Document </a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h5>Higher Education System</h5>
                                                        <ul class="full-dropDown">
                                                            <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstudies/DetailsofIndianEducations">Indian Higher Education System</a></li>
                                                            <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstudies/indianeducation">Types of Indian Education </a></li>
                                                            <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstudies/Rankingandaccredidation">Ranking and Accreditation-NIRF, NAAC, Graded Autonomy </a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="banner">
                                                            <a href="#">
                                                                <img src="~/img/menu-1.jpg" class="img img-thumbnail" alt="">
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.yamm-content -->
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown yamm-fw">
                                    <a href="@Url.Content("~/")NICHE" class="dropdown-toggle" data-hover="dropdown" data-delay="200">NICHE Courses <b class="caret"></b></a>
                                    <ul class="dropdown-menu single-Dropdown2">
                                        <li>
                                            <ul>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")NICHE/Ayurvedic">Ayurveda <br /><small>The 5000-year-old medical science</small></a></li>
                                                @*<li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")NICHE/Tibetan">Tibetan <br /><small>Influenced by Buddhism, inspired by nature</small></a></li>*@
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")NICHE/Buddhism">Buddhism <br /><small>Attain spiritual contentment through practices of monks</small></a></li>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")NICHE/Yoga">Yoga <br /><small>Achieve state of balance between mind and body</small></a></li>
                                            </ul>
                                            <!-- /.yamm-content -->
                                        </li>
                                    </ul>
                                </li>
                                @*<li class=""><a href="@Url.Content("~/")scholarships/FeeWaiversandConcessions">Scholarships and Waivers</a> </li>*@
                                <li class="dropdown yamm-fw">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Scholarships and Waivers <b class="caret"></b></a>
                                    <ul class="dropdown-menu single-Dropdown4">
                                        <li>
                                            <ul>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")scholarships/FeeWaiversandConcessions/Scholarship">Study in India Scholarship </a></li>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")scholarships/FeeWaiversandConcessions/FeeWaiver">Fee Waivers </a></li>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")scholarships/FeeWaiversandConcessions/IndSAT">Ind-SAT </a></li>
                                            </ul>
                                            
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown yamm-fw">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Plan Your Stay <b class="caret"></b></a>
                                    <ul class="dropdown-menu single-Dropdown3">
                                        <li>
                                            <ul>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/moneycosts">Money &amp; Costs </a></li>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/dosanddonts">Dos and Donts </a></li>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/travelguide">Travel Guide </a></li>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/accomodation">Accommodation </a></li>
                                                <li><i class="fa fa-angle-right dropdown_fa" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/helplinenos">Help-line Nos </a></li>
                                            </ul>
                                            <!-- /.yamm-content -->
                                        </li>
                                    </ul>
                                </li>
                                <li class=""><a href="@Url.Content("~/")events">Events</a> </li>
                                <li class=""><a href="~/blogs">Blogs</a> </li>
                                <li class=""><a href="@Url.Content("~/")contact">Contact</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--/.nav-collapse -->
