
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutportal.cshtml";
}
@section PageHead{
    <div class="row">
        <div class="col-md-12">
            <h3> Document Information&nbsp;<span style="color: red">( @Session["studentid"].ToString() -  @Session["studentname"].ToString() )</span></h3>
        </div>
    </div>
}
<div class="loading" style="display:none;"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-primary border-login">
            <div class="tab-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body table-responsive">
                            <br />
                            <input type="hidden" id="hdnfilesize" value="@ViewBag.Filesize" />
                            <form id="frmuploadimage">
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Profile Pic<span style="color: red">&nbsp;*</span></label>
                                            <input type="file" id="udpFile" name="PROFILE_PIC_PATH" required />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img class="img-rounded xs-mr-10" id="imgProfile" src="~/assets/img/140x140.png" width="140" height="140" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-space btn-primary btn-lg" type="submit" id="btnprofilepic">Upload</button>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <form id="frmstudentdocumenation">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="page-header">Document Details <span span style="color:red">(Secondary School / Class X (or equivalent qualification), Higher Secondary Class XII (or equivalent qualification), and/or other qualification (if any); Mark sheets, passing certificates and relevant documents)</span></h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Document Name<span style="color:red"> *</span></label>
                                            <input type="text" id="txtdocumentname" class="form-control allow_only_alphabet" placeholder="Document Name" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Upload Document (Only PDF,PNG,JPG,JPEG)<span style="color:red"> *</span></label>
                                            <input type="file" id="uploaddocumentcustomer" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-condensed table-responsive table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Document Name</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodydocument"></tbody>
                                        </table>
                                    </div>
                                </div>
                                @if (Session["IsAllowEditData"] != null)
                                {
                                    if (Session["IsAllowEditData"].ToString() != "False")
                                    {
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-space btn-primary btn-lg" type="submit" id="btncustomerdocsave">Submit</button>
                                                <button class="btn btn-space btn-default btn-lg" type="button" id="btncustdoccancel">Cancel</button>
                                            </div>
                                        </div>
                                    }
                                }
                                <br />
                                <hr />
                                <a class="btn btn-warning btn-lg pull-right" href="@Url.Content("~/")admission/StudentBackgroundInformation">Next</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/assets/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/assets/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <style>
        /* Absolute Center Spinner */
        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: show;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

            /* Transparent Overlay */
            .loading:before {
                content: '';
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.8);
            }

            /* :not(:required) hides these rules from IE9 and below */
            .loading:not(:required) {
                /* hide "loading..." text */
                font: 0/0 a;
                color: transparent;
                text-shadow: none;
                background-color: transparent;
                border: 0;
            }

                .loading:not(:required):after {
                    content: '';
                    display: block;
                    font-size: 10px;
                    width: 1em;
                    height: 1em;
                    margin-top: -0.5em;
                    -webkit-animation: spinner 1500ms infinite linear;
                    -moz-animation: spinner 1500ms infinite linear;
                    -ms-animation: spinner 1500ms infinite linear;
                    -o-animation: spinner 1500ms infinite linear;
                    animation: spinner 1500ms infinite linear;
                    border-radius: 0.5em;
                    -webkit-box-shadow: rgb(255, 255, 255) 1.5em 0 0 0, rgb(255, 255, 255) 1.1em 1.1em 0 0, rgb(255, 255, 255) 0 1.5em 0 0, rgb(255, 255, 255) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgb(255, 255, 255) 0 -1.5em 0 0, rgb(255, 255, 255) 1.1em -1.1em 0 0;
                    box-shadow: rgb(255, 255, 255) 1.5em 0 0 0, rgb(255, 255, 255) 1.1em 1.1em 0 0, rgb(255, 255, 255) 0 1.5em 0 0, rgb(255, 255, 255) -1.1em 1.1em 0 0, rgb(255, 255, 255) -1.5em 0 0 0, rgb(255, 255, 255) -1.1em -1.1em 0 0, rgb(255, 255, 255) 0 -1.5em 0 0, rgb(255, 255, 255) 1.1em -1.1em 0 0;
                }

        /* Animation */

        @@-webkit-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@-moz-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@-o-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
}
@section scripts{
    <script src="~/assets/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/assets/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/lib/parsley/parsley.min.js"></script>
    <script src="~/Scipts/Areas/admission/StudentDocument.js"></script>
}


