
@{
    ViewBag.Title = "Discipline";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section PageHead{
    <div class="row">
        <div class="col-md-12">
            <h3>Programme Level Master</h3>
        </div>
    </div>
}
<div class="row">
    <div class="loading"></div>
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-custom">
            <div class="panel-body">
                <form id="frm">
                    <input type="hidden" name="isNicheCourse" id="isNicheCourse" value="@ViewBag.isNicheCourse" />
                    <input type="hidden" name="ProgramLevel_Id" value="0" id="hdfProgramLevel_Id" />
                    <div class="form-group">
                        <label>Programme Level</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="ProgramLevel" id="txtProgrameLevel" class="form-control" required="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnSave" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default panel-border-color panel-border-color-custom">
            <div class="panel-body">
                <table id="tbl" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Srno</th>
                            <th>Programme Level</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @{
                            SIIRepository.Adminservice.ProgrammeLevel_Repository _objRepo = new SIIRepository.Adminservice.ProgrammeLevel_Repository();
                            System.Data.DataSet _ds = _objRepo.SELECT_PROGRAMMELEVEL_FOR_FORM("0", ViewBag.isNicheCourse.ToString());
                            if (_ds != null)
                            {
                                if (_ds.Tables[0].Rows.Count > 0)
                                {
                                    int i = 1;
                                    foreach (System.Data.DataRow _dr in _ds.Tables[0].Rows)
                                    {
                                        <tr>
                                            <td>@(i++)</td>
                                            <td>@_dr["ProgramLevel"].ToString()</td>
                                            <td>
                                                <a class="btn btn-sm btn-warning btnEdit" data-id="@_dr["ProgramLevel_Id"].ToString()">Edit</a>
                                                <a class="btn btn-sm btn-danger btnDelete" data-id="@_dr["ProgramLevel_Id"].ToString()">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/assets/lib/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/assets/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/lib/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/lib/parsley/parsley.min.js"></script>
    <script src="~/Scipts/Areas/Admin/Masters/ProgramLevel.js"></script>
}