
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-custom panel-table">
            <div class="panel-heading">
                Website Blogs
                <div class="tools">
                    <a href="@Url.Content("~/")Admin/BlogPage/Page" class="btn btn-success">Create New</a>
                </div>
            </div>
            <div class="tab-container">
                <div class="tab-content">
                    @*Approx Cost Of living*@
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel-body">
                                <table class="table table-striped table-hover table-fw-widget" id="tbl">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Unique Code</th>
                                            <th>Tags</th>
                                            <th>Created By</th>
                                            <th>Created Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            SIIRepository.Adminservice.BlogPost_Repository _objRepo = new SIIRepository.Adminservice.BlogPost_Repository();
                                            SIIModel.Admin.mBlogPost _obj = new SIIModel.Admin.mBlogPost();
                                            System.Data.DataSet _ds = _objRepo.SELECT_BLOGPOST_FOR_LIST();
                                            if (_ds != null)
                                            {
                                                int index = 1;
                                                foreach (System.Data.DataRow _dr in _ds.Tables[0].Rows)
                                                {
                                        <tr>
                                            <td>@(index++)</td>
                                            <td>@_dr["BlogTitle"].ToString()</td>
                                            <td>@_dr["UniqueCode"].ToString()</td>
                                            <td>@_dr["BlogTag"].ToString()</td>
                                            <td>@_dr["Name"].ToString()</td>
                                            <td>@(Convert.ToDateTime(_dr["CreatedDate"].ToString()).ToString("dd-MMM-yyyy hh:mm tt"))</td>
                                            <td>
                                                <a href="@Url.Content("~/")Admin/BlogPage/Page/@_dr["Blog_Id"].ToString()" class="btn btn-warning">Edit</a>
                                            </td>
                                        </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link rel="stylesheet" type="text/css" href="/assets/lib/datatables/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
}