
@{
    ViewBag.Title = "Dos and Don'ts | Student Travel | India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Dos and Don`ts | Student Travel | India' />
    <meta name='description' content='We offer a list of do’s and don’ts for all the foreign students travelling to India for higher studies. It is always important to be cautious about not breaking any law or indulge in unlawful activities.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/planyourstay/dosanddonts" />

}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Plan Your Stay</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")planyourstay/dosanddonts">Plan Your Stay</a> / Dos and Don'ts</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-9 col-md-9 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title">
                    <h3 class="inner-title"><span>Dos and Don'ts</span></h3>

                    <h4 class="inner-title-h4">Do's: </h4>

                    <ul class="list-style">
                        <li><i class="fa fa-chevron-circle-right"></i> A proper Visa to enter and stay in India is a must. Make sure your all your documents are complete and secured. </li>
                        <li><i class="fa fa-chevron-circle-right"></i> Be apprised of the campus rules and regulations of your institute. </li>
                        <li><i class="fa fa-chevron-circle-right"></i> It is advisable to obtain adequate travel and health insurance. </li>
                        <li><i class="fa fa-chevron-circle-right"></i> Take personal responsibility for your travel choices, your safety, finances and behaviour overseas, including obeying the laws of the country.</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Organise your finances to cover your planned travel.</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Protect your passport and report it promptly if it is lost, stolen or damaged.</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Make sure your passport is valid (with at least six months validity from your planned date of return and will not expire while you are in India. </li>
                        <li><i class="fa fa-chevron-circle-right"></i> Make copies of your passport (including visa pages), insurance policy, traveller's cheques, visas and academic documents. Carry one copy in a separate place away from the originals and also leave a copy with someone at home.</li>
                    </ul>
                    <h4 class="inner-title-h4">Don'ts: </h4>
                    <ul class="list-style">
                        <li><i class="fa fa-chevron-circle-right"></i> Don't break the law or indulge in unlawful activities</li>

                        <li><i class="fa fa-chevron-circle-right"></i> Don't enter places of worship without moderate dressing and shoes on. </li>

                        <li><i class="fa fa-chevron-circle-right"></i> Don't walk over or touch books or newspapers with your feet. For Indian people they are a metaphor of God's learning, considered sacred.</li>

                        <li><i class="fa fa-chevron-circle-right"></i> Don't smoke or drink alcohol in public.</li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="course-details-right">
                    <h4>Plan Your Stay</h4>
                    <ul>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/moneycosts">Money &amp; Costs </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/dosanddonts">Dos and Donts </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/travelguide">Travel Guide </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/accomodation">Accommodation </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/helplinenos">Help-line Nos </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
