<div class="row">
    @{
         SIIRepository.StudentRegService.DashboardRepository _objRepository = new SIIRepository.StudentRegService.DashboardRepository();
            System.Data.DataSet _ds = _objRepository.Get_Dashboard_Modal_Data(Session["studentid"].ToString().ToString(), "ChoiceFilling");
        if (_ds != null)
        {
            <h2 class="text-center">Filled Choices </h2>
            if (_ds.Tables[0].Rows.Count > 0)
            {
                int Index = 1;
                <div class="col-md-4">
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td><b>StudentID</b> : </td>
                                <td style="color:brown">@_ds.Tables[0].Rows[0]["studentid"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Student Name</b> : </td>
                                <td style="color:brown">@_ds.Tables[0].Rows[0]["name"].ToString()</td>
                            </tr>
                            <tr>
                                <td><b>Application No</b> : </td>
                                <td style="color:brown">@_ds.Tables[0].Rows[0]["ApplicationNo"].ToString()</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <h3 class="page-header">Qualification</h3>
                    <div class="row">
                        @{
                            System.Data.DataSet _dsStudent_Ch_Basic = _objRepository.SELECT_tbl_Student_Ch_Basic_For_Admin(_ds.Tables[0].Rows[0]["studentid"].ToString());
                            if (_dsStudent_Ch_Basic != null)
                            {
                                if (_dsStudent_Ch_Basic.Tables[1].Rows.Count > 0)
                                {
                                    int i = 1;
                                    <div class="col-md-6">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Srno</th>
                                                    <th>Qualification</th>
                                                    <th>Percentage</th>
                                                    <th>Certificate / Marksheet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (System.Data.DataRow _dr in _dsStudent_Ch_Basic.Tables[1].Rows)
                                                {
                                                    <tr>
                                                        <td>@(i++)</td>
                                                        <td>
                                                            @_dr["EduQualificationsName"].ToString()
                                                            @if (_dr["IsGiven"].ToString() == "2")
                                                            {
                                                                <label class="badge badge-danger">Result Awaited</label>
                                                            }
                                                        </td>
                                                        <td>@_dr["MainPart"].ToString().@_dr["DeciamlPart"].ToString() %</td>
                                                        <td>
                                                            <a class="btn btn-info" href="~/@_dr["Path"].ToString()" target="_blank">View</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                if (_dsStudent_Ch_Basic.Tables[2].Rows.Count > 0)
                                {
                                    int i = 1;
                                    <div class="col-md-6">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Srno</th>
                                                    <th>Exam</th>
                                                    <th>Score</th>
                                                    <th>Certificate / Marksheet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (System.Data.DataRow _dr in _dsStudent_Ch_Basic.Tables[2].Rows)
                                                {
                                                    <tr>
                                                        <td>@(i++)</td>
                                                        <td>@_dr["AditionalExams"].ToString()</td>
                                                        <td>@_dr["Score"].ToString()</td>
                                                        <td>
                                                            <a class="btn btn-info" href="~/@_dr["Path"].ToString()" target="_blank">View</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                {
                    System.Data.DataSet _dsStudent_Ch_Disciplines = _objRepository.SELECT_tbl_Student_Ch_SelecedDiscipline_For_Admin(_ds.Tables[0].Rows[0]["studentid"].ToString(), _ds.Tables[0].Rows[0]["ApplicationNo"].ToString());
                    if (_dsStudent_Ch_Disciplines != null)
                    {
                        if (_dsStudent_Ch_Disciplines.Tables[0].Rows.Count > 0)
                        {
                            int i = 1;
                            <div class="col-md-12">
                                <h3 class="page-header">Selected Disciplines</h3>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Srno</th>
                                            <th>Discipline</th>
                                            <th>Programme Level</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (System.Data.DataRow _dr in _dsStudent_Ch_Disciplines.Tables[0].Rows)
                                        {
                                            <tr>
                                                <td>@(i++)</td>
                                                <td>
                                                    @_dr["Discipline"].ToString()
                                                </td>
                                                <td>@_dr["ProgramLevel"].ToString()</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        }
                    }
                }
                <div class="col-md-12">
                    <h3 class="page-header">Filled Choices</h3>
                    <table id="tbl" class="table table-condensed table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Srno</th>
                                <th>InstituteID</th>
                                <th>Institute Name</th>
                                <th>Institute Type</th>
                                <th>Discipline</th>
                                <th>Program Level</th>
                                <th>Course Name</th>
                                <th>Specialization</th>
                                <th>Qualification</th>
                                <th>Aditional Exam</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyChoicefilling">
                            @foreach (System.Data.DataRow _dr in _ds.Tables[0].Rows)
                            {
                                <tr>
                                    <td>@(Index++)</td>
                                    <td>@_dr["InstituteID"].ToString()</td>
                                    <td>@_dr["InstituteName"].ToString()</td>
                                    <td>@_dr["InstituteType"].ToString()</td>
                                    <td>@_dr["Discipline"].ToString()</td>
                                    <td>@_dr["ProgramLevel"].ToString()</td>
                                    <td>@_dr["Coursename"].ToString()</td>
                                    <td>@_dr["Specialization"].ToString()</td>
                                    <td>
                                        @{
                                            if (_ds.Tables[1].Rows.Count > 0)
                                            {
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        @foreach (System.Data.DataRow _dr1 in _ds.Tables[1].Rows)
                                                        {
                                                            if (_dr1["SC_CF_Id"].ToString() == _dr["SC_CH_ID"].ToString())
                                                            {
                                                                <tr>
                                                                    <th>@_dr1["EQName"].ToString() - @_dr1["ESName"].ToString()</th>
                                                                    <td>@_dr1["MainPart"].ToString().@_dr1["DeciamlPart"].ToString() %</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <span>---</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                                            if (_ds.Tables[2].Rows.Count > 0)
                                            {
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        @foreach (System.Data.DataRow _dr2 in _ds.Tables[2].Rows)
                                                        {
                                                            if (_dr2["SC_CF_Id"].ToString() == _dr["SC_CH_ID"].ToString())
                                                            {
                                                                <tr>
                                                                    <th>@_dr2["AEName"].ToString()</th>
                                                                    <td>@_dr2["Score"].ToString() %</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <span>---</span>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            }
        }
    }
</div>
