<div class="row">
    @*@{
            SIIRepository.Institute.InstituteRepository _objRepository = new SIIRepository.Institute.InstituteRepository();
            System.Data.DataSet _ds = _objRepository.Get_Dashboard_Modal_Data(TempData["instituteid"].ToString(), "InstituteProfile");
            if (_ds != null)
            {
                if (_ds.Tables[0].Rows.Count > 0)
                {

                    <div class="service-area section-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                    <div class="section-title">
                                        <h3 class="inner-title"><span>Area Of Excellence - (@_ds.Tables[0].Rows[0]["InstituteName"].ToString())</span></h3>
                                        @_ds.Tables[0].Rows[0]["AreaOfExcellence"].ToString();
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }*@
    <div class="single-service-tab">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft mt20" style="visibility: visible; animation-name: fadeInLeft;"> </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-service-tab-menu">
                        <ul class="nav category_ul" role="tablist">
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "AboutInstitute"})"><i class="fa fa-bank"></i> About Institute</a></li>
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Courses"})"><i class="fa fa-book"></i> Courses &amp; Programme</a></li>
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Campus"})"><i class="fa fa-building"></i> Infrastructure (Campus &amp; Library)</a></li>
                            @*<li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Fees"})"><i class="fa fa-rupee"></i> Fees</a></li>*@
                            <li  class="hide" role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Gallery"})"><i class="fa fa-image"></i> Photo Gallery</a></li>
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "HowToReach"})"><i class="fa fa-location-arrow"></i> How to Reach?</a></li>
                            <li role="presentation" class="active"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "AreaOfExpert"})"><i class="fa fa-tasks"></i> Area of Expertise</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="single-service-tab-items">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="area">
                                <div class="single-tab cta">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                            <div class="section-title">

                                                @{
                                                    SIIRepository.Institute.InstituteRepository _objRepository = new SIIRepository.Institute.InstituteRepository();
                                                    System.Data.DataSet _ds = _objRepository.Get_Dashboard_Modal_Data(TempData["instituteid"].ToString(), "InstituteProfile", "");
                                                    if (_ds != null)
                                                    {
                                                        if (_ds.Tables[0].Rows.Count > 0)
                                                        {
                                                            <h3 class="inner-title"><span>Area of Expertise</span></h3>
                                                            <p class="text-justify">
                                                                @_ds.Tables[0].Rows[0]["AreaOfExcellence"].ToString()
                                                            </p>
                                                        }
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>