@using System.Configuration
<div class="row">
    <div class="single-service-tab">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft mt20" style="visibility: visible; animation-name: fadeInLeft;"> </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-service-tab-menu">
                        <ul class="nav category_ul" role="tablist">
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "AboutInstitute"})"><i class="fa fa-bank"></i> About Institute</a></li>
                            <li role="presentation" class="active"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Courses"})"><i class="fa fa-book"></i> Courses &amp; Programme</a></li>
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Campus"})"><i class="fa fa-building"></i> Infrastructure (Campus &amp; Library)</a></li>
                            @*<li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Fees"})"><i class="fa fa-rupee"></i> Fees</a></li>*@
                            <li class="hide" role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Gallery"})"><i class="fa fa-image"></i> Photo Gallery</a></li>
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "HowToReach"})"><i class="fa fa-location-arrow"></i> How to Reach?</a></li>
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "AreaOfExpert"})"><i class="fa fa-tasks"></i> Area of Expertise</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="single-service-tab-items">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            @{
                                SIIRepository.Institute.InstituteRepository _objRepository = new SIIRepository.Institute.InstituteRepository();
                                System.Data.DataSet _ds = _objRepository.Get_Dashboard_Modal_Data(TempData["instituteid"].ToString(), "Courses", "", ConfigurationManager.AppSettings["ParticipatedYear"].ToString());
                                if (_ds != null)
                                {
                                    if (_ds.Tables[0].Rows.Count > 0)
                                    {
                                        <div role="tabpanel" class="tab-pane active" id="courses">
                                            <div class="single-tab">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                                        <div class="section-title">
                                                            <h3 class="inner-title"><span>Courses &amp; Programme</span></h3>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <h5>Total No. of Courses: <strong>@TempData.Peek("TotalCourses")</strong></h5>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <h5>Total No. of Seats: <strong>@TempData.Peek("TotalSeats")</strong></h5>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <table id="datatable" class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <td></td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (System.Data.DataRow _dr in _ds.Tables[0].Rows)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <div class="course-details-right courses_box1">
                                                                                    <h3 class="course_title1">@_dr["Natureofcourse"].ToString()</h3>
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <ul class="course-details-list">
                                                                                                <li>Discipline :<span>@_dr["Discipline"].ToString() </span></li>
                                                                                                <li>Program Level :<span>@_dr["ProgramLevel"].ToString() </span></li>
                                                                                                @if (_dr["BranchName"].ToString() != "")
                                                                                                {
                                                                                                    <li>Branch/Subject :<span>@_dr["BranchName"].ToString() </span></li>
                                                                                                }
                                                                                                @if (_dr["SeatForForeignStudent"].ToString() != "")
                                                                                                {
                                                                                                    <li>No. of seats:<span>@_dr["SeatForForeignStudent"].ToString() </span></li>
                                                                                                }
                                                                                                @*@if (_dr["AnnualTutionFees"].ToString() != "")
        {
            <li>Tution Fee Per Year:<span>@_dr["AnnualTutionFees"].ToString() </span></li>
        }*@
                                                                                                @if (_dr["AnnualTutionFees"].ToString() != "")
                                                                                                {
                                                                                                    <li>Annual Tuition Fees (SAARC Country):<span>@_dr["AnnualTutionFees"].ToString()  @_dr["AnnualTutionFeesCurrency"].ToString() </span></li>
                                                                                                }
                                                                                                @if (_dr["AnnualBoardingFees"].ToString() != "")
                                                                                                {
                                                                                                    //  per seat with Boarding
                                                                                                    <li>Annual Total Fees (SAARC Country):<span>@_dr["AnnualBoardingFees"].ToString()  @_dr["AnnualBoardingFeesCurrency"].ToString()</span></li>
                                                                                                }
                                                                                                @if (_dr["FeesForSAARCCountry"].ToString() != "")
                                                                                                {
                                                                                                    <li>Annual Tuition Fees (NonSAARC Country):<span>@_dr["FeesForSAARCCountry"].ToString()  @_dr["FeesForSAARCCountryCurrency"].ToString() </span></li>
                                                                                                }
                                                                                                @if (_dr["FeesForNonSAARCCountry"].ToString() != "")
                                                                                                {
                                                                                                    //  per seat with Boarding
                                                                                                    <li>Annual Total Fees (NonSAARC Country) :<span>@_dr["FeesForNonSAARCCountry"].ToString()  @_dr["FeesForNonSAARCCountryCurrency"].ToString()</span></li>
                                                                                                }
                                                                                            </ul>
                                                                                        </div>
                                                                                        @if (_dr["EligibilityCriteria"].ToString() != "")
                                                                                        {
                                                                                        <div class="col-md-12">
                                                                                            <ul>
                                                                                                <li>Eligibility Criteria:<br /><label style="text-align:justify;">@_dr["EligibilityCriteria"].ToString()</label></li>
                                                                                            </ul>
                                                                                            @if (_dr["AdditionalCriteria"].ToString() != "")
                                                                                            {
                                                                                                <ul>
                                                                                                    <li>Additional Criteria:<br /><label style="text-align:justify;">@_dr["AdditionalCriteria"].ToString()</label></li>
                                                                                                </ul>
                                                                                            }
                                                                                        </div>
                                                                                        }

                                                                                        <div class="col-md-12">
                                                                                            <ul class="course-details-list">
                                                                                                @if (_dr["CourseDurations"].ToString() != "")
                                                                                                {
                                                                                                    <li>Course Durations(In Months): <label style="text-align:justify;">@_dr["CourseDurations"].ToString()</label></li>
                                                                                                }
                                                                                                @if (_dr["CoursePatterns"].ToString() != "")
                                                                                                {
                                                                                                    <li>Examination Pattern: <label style="text-align:justify;">@_dr["CoursePatterns"].ToString()</label></li>
                                                                                                }
                                                                                            </ul>
                                                                                            <ul>
                                                                                                @if (_dr["AdmissionReq"].ToString() != "")
                                                                                                {
                                                                                                    <li>Admission and Entry Requirements: <br /><label style="text-align:justify;">@_dr["AdmissionReq"].ToString()</label></li>
                                                                                                }
                                                                                            </ul>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                            @*@foreach (System.Data.DataRow _dr in _ds.Tables[0].Rows)
                                                                {
                                                                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                                        <div class="course-details-right courses_box1">
                                                                            <h4 class="course_title1">Course Title</h4>
                                                                            <ul>
                                                                                <li>Discipline :<span>@_dr["Discipline"].ToString() </span></li>
                                                                                <li>Program Level :<span>@_dr["ProgramLevel"].ToString() </span></li>
                                                                                <li>Name of Course :<span>@_dr["Natureofcourse"].ToString() </span></li>
                                                                                @if (_dr["BranchName"].ToString() != "")
                                                                                {
                                                                                    <li>Branch/Subject :<span>@_dr["BranchName"].ToString() </span></li>
                                                                                }
                                                                                @if (_dr["SeatForForeignStudent"].ToString() != "")
                                                                                {
                                                                                    <li>Total seat offer to foreign student:<span>@_dr["SeatForForeignStudent"].ToString() </span></li>
                                                                                }
                                                                                @if (_dr["AnnualTutionFees"].ToString() != "")
                                                                                {
                                                                                    <li>Course Fee:<span>@_dr["AnnualTutionFees"].ToString() </span></li>
                                                                                }
                                                                                @if (_dr["EligibilityCriteria"].ToString() != "")
                                                                                {
                                                                                    <li>Eligibility Criteria: <br /><label>@_dr["EligibilityCriteria"].ToString()</label></li>
                                                                                }
                                                                                @if (_dr["AnnualTutionFees"].ToString() != "")
                                                                                {
                                                                                    <li>Annual tution fees per Seat:<span>@_dr["AnnualTutionFees"].ToString()  @_dr["AnnualTutionFeesCurrency"].ToString() </span></li>
                                                                                }
                                                                                @if (_dr["AnnualBoardingFees"].ToString() != "")
                                                                                {
                                                                                    <li>Annual tution fees per seat with Boarding:<span>@_dr["AnnualBoardingFees"].ToString()  @_dr["AnnualBoardingFeesCurrency"].ToString()</span></li>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    index++;
                                                                }*@
                                                            @*<div class="col-md-5 col-sm-5 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                                    <div class="course-details-right courses_box2">
                                                                        <h4 class="course_title2">Bridge-Course</h4>
                                                                        <ul>
                                                                            <li>Discipline :<span>text</span></li>
                                                                            <li>Program Level :<span>text</span></li>
                                                                            <li>Name of Course :<span>text</span></li>
                                                                            <li>Branch/Subject :<span>text</span></li>
                                                                            <li>Total seat offer to foreign student:<span>10</span></li>
                                                                            <li>Course Fee:<span>$500</span></li>
                                                                        </ul>

                                                                    </div>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .courses_box1 {
        background: #ffffff none repeat scroll 0 0;
        border-color: #39aade;
        border-style: solid;
        border-width: 1px 1px 4px;
        margin-top: 0;
    }

    .course_title1 {
        background: #39aade none repeat scroll 0 0 !important;
        border-color: #39aade !important;
        color: #ffffff !important;
        padding: 2px 7px;
        font-size: 20px;
        margin-bottom: 3px;
    }

    .course-details-list > li:nth-child(odd) {
        width: 49.5%;
        position: relative;
        float: left;
    }

    .course-details-list > li:nth-child(even) {
        width: 49.5%;
        position: relative;
        float: right;
    }
</style>