@using System.Configuration


<div class="niche_coursesHeader_main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="inner-title-left niche_coursesHeader">
                    <h2>NICHE Courses</h2>
                    <p>DUMMY TEXT FOR THIS AREA</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="single-blog-area section-padding">
    <div class="container">
        <div class="row">

            <!-- single service tab start -->
            <div class="single-service-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="nicheCourseBorder_title">Dev Sanskriti Vishwavidyalaya</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="single-service-tab-menu nicheCourse_tab">
                                <ul class="nav" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                            <i class="fa fa-graduation-cap"></i> About the Course
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                            <i class="fa fa-book"></i> Course Details
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                                            <i class="fa fa-sitemap"></i> Infrastructure
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                                            <i class="fa fa-location-arrow"></i> How to Reach
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <div class="single-service-tab-items">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="home">
                                        <div class="tabOut_title">
                                            <h4>
                                                <span>About the Course</span>
                                            </h4>
                                        </div>
                                        <div class="clearfix"></div>
                                        <h5 class="blackBG_title">Diploma in Yoga</h5>
                                        <div class="single-tab p0">
                                            <table class="nicheCourse_table">
                                                <tr>
                                                    <td>Discipline :</td>
                                                    <td>Course Durations:</td>
                                                </tr>
                                                <tr>
                                                    <td>Discipline :</td>
                                                    <td>Course Durations:</td>
                                                </tr>
                                                <tr>
                                                    <td>Discipline :</td>
                                                    <td>Course Durations:</td>
                                                </tr>
                                                <tr>
                                                    <td>Discipline :</td>
                                                    <td>Course Durations:</td>
                                                </tr>
                                            </table>

                                        </div>
                                        <div class="clearfix"></div>
                                        <a href="" class="orange-btn pull-right applyBtnRight">Apply Now</a>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="profile">
                                        <div class="tabOut_title">
                                            <h4>
                                                <span>Course Details</span>
                                            </h4>
                                        </div>
                                        <div class="clearfix"></div>
                                        <h5 class="blackBG_title">Diploma in Yoga</h5>
                                        <div class="single-tab p0">

                                            <div class="">
                                                <div class="">
                                                    <table class="nicheCourse_table">
                                                        <tr>
                                                            <td>Discipline :</td>
                                                            <td>Course Durations:</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Discipline :</td>
                                                            <td>Course Durations:</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Discipline :</td>
                                                            <td>Course Durations:</td>
                                                        </tr>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="messages">

                                        <div class="tabOut_title">
                                            <h4>
                                                <span>Infrastructure</span>
                                            </h4>
                                        </div>
                                        <div class="clearfix"></div>
                                        <h5 class="blackBG_title">Diploma in Yoga</h5>
                                        <div class="single-tab p0">

                                            <div class="">
                                                <div class="">
                                                    <table class="nicheCourse_table">
                                                        <tr>
                                                            <td>Discipline :</td>
                                                            <td>Course Durations:</td>
                                                        </tr>

                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="settings">

                                        <div class="tabOut_title">
                                            <h4>
                                                <span>How to Reach</span>
                                            </h4>
                                        </div>
                                        <div class="clearfix"></div>
                                        <h5 class="blackBG_title">Diploma in Yoga</h5>
                                        <div class="single-tab p0">

                                            <div class="">
                                                <div class="">
                                                    <table class="nicheCourse_table">
                                                        <tr>
                                                            <td>Discipline :</td>
                                                            <td>Course Durations:</td>
                                                        </tr>

                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single service tab end -->

        </div>
    </div>
</div>
<div class="row">
    <div class="single-service-tab">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft mt20" style="visibility: visible; animation-name: fadeInLeft;"> </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-service-tab-menu">
                        <ul class="nav category_ul" role="tablist">
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "AboutInstitute"})"><i class="fa fa-bank"></i> About Institute</a></li>
                            <li role="presentation" class="active"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Courses"})"><i class="fa fa-book"></i> Courses &amp; Programme</a></li>
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Campus"})"><i class="fa fa-building"></i> Infrastructure (Campus &amp; Library)</a></li>
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Fees"})"><i class="fa fa-rupee"></i> Fees</a></li>
                            <li class="hide" role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "Gallery"})"><i class="fa fa-image"></i> Photo Gallery</a></li>
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "HowToReach"})"><i class="fa fa-location-arrow"></i> How to Reach?</a></li>
                            <li role="presentation"><a href="@Url.Action("Index", "Explore/ViewDetails", new {instituteid = TempData.Peek("instituteid").ToString(),For = "AreaOfExpert"})"><i class="fa fa-tasks"></i> Area of Expertise</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="single-service-tab-items">
                        <!-- Tab panes -->
                        <div class="tab-content">

                            @{
                                SIIRepository.Institute.InstituteRepository _objRepository = new SIIRepository.Institute.InstituteRepository();
                                System.Data.DataSet _ds = _objRepository.Get_Dashboard_Modal_Data(TempData["instituteid"].ToString(), "NicheCourses", "", ConfigurationManager.AppSettings["ParticipatedYear"].ToString());
                                if (_ds != null)
                                {
                                    if (_ds.Tables[0].Rows.Count > 0)
                                    {
                                        <div role="tabpanel" class="tab-pane active" id="courses">
                                            <div class="single-tab">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                                        <div class="section-title">
                                                            <h3 class="inner-title"><span>NICHE Courses &amp; Programme</span></h3>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <h5>Total No. of Courses: <strong>@TempData.Peek("TotalCourses")</strong></h5>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <table id="datatable" class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <td></td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (System.Data.DataRow _dr in _ds.Tables[0].Rows)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <div class="course-details-right courses_box1">
                                                                                    <h3 class="course_title1">@_dr["Natureofcourse"].ToString()</h3>
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <ul class="course-details-list">
                                                                                                <li>Course type :<span>@_dr["CourseType"].ToString() </span></li>
                                                                                                <li>Discipline :<span>@_dr["Discipline"].ToString() </span></li>
                                                                                                <li>Program Level :<span>@_dr["ProgramLevel"].ToString() </span></li>

                                                                                                @if (_dr["BranchName"].ToString() != "")
                                                                                                {
                                                                                                    <li>Branch/Subject :<span>@_dr["BranchName"].ToString() </span></li>
                                                                                                }

                                                                                                @if (_dr["GenderRestrictions"].ToString() != "")
                                                                                                {
                                                                                                    <li> Gender Restrictions:<span> @_dr["GenderRestrictions"].ToString() </span></li>
                                                                                                }

                                                                                                @if (_dr["MinimumAgeRequirement"].ToString() != "")
                                                                                                {
                                                                                                    <li>Minimum Age Requirement :<span>@_dr["MinimumAgeRequirement"].ToString() </span></li>
                                                                                                }
                                                                                                @if (_dr["TutionFees"].ToString() != "")
                                                                                                {
                                                                                                    <li> Tution fees per seat:<span>@_dr["TutionFees"].ToString()  @_dr["TutionFeesCurrency"].ToString() </span></li>
                                                                                                }
                                                                                                @if (_dr["TotalFees"].ToString() != "")
                                                                                                {
                                                                                                    //  per seat with Boarding
                                                                                                    <li> TOTAL fees :<span>@_dr["TotalFees"].ToString()  @_dr["TotalFeesCurrency"].ToString()</span></li>
                                                                                                }

                                                                                            </ul>
                                                                                        </div>
                                                                                        @if (_dr["EligibilityCriteria"].ToString() != "")
                                                                                        {
                                                                                            <div class="col-md-12">
                                                                                                <ul>
                                                                                                    <li>Eligibility Criteria:<br /><label style="text-align:justify;">@_dr["EligibilityCriteria"].ToString()</label></li>
                                                                                                </ul>
                                                                                                @*@if (_dr["AdditionalCriteria"].ToString() != "")
                                                                                                    {
                                                                                                        <ul>
                                                                                                            <li>Additional Criteria:<br /><label style="text-align:justify;">@_dr["AdditionalCriteria"].ToString()</label></li>
                                                                                                        </ul>
                                                                                                    }*@
                                                                                            </div>
                                                                                        }
                                                                                        <div class="col-md-12">
                                                                                            <ul class="course-details-list">
                                                                                                @if (_dr["HostelAccommodation"].ToString() != "")
                                                                                                {
                                                                                                    <li>Hostel accommodation : <span>@_dr["HostelAccommodation"].ToString()</span></li>
                                                                                                }
                                                                                                @if (_dr["Food"].ToString() != "")
                                                                                                {
                                                                                                    <li>Food: <span>@_dr["Food"].ToString()</span></li>
                                                                                                }
                                                                                                @if (_dr["AC"].ToString() != "")
                                                                                                {
                                                                                                    <li>AC: <span>@_dr["AC"].ToString()</span></li>
                                                                                                }
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                            <ul class="course-details-list">
                                                                                                @if (_dr["Credits"].ToString() != "")
                                                                                                {
                                                                                                    <li>Credits : <span>@_dr["Credits"].ToString()</span></li>
                                                                                                }
                                                                                                @if (_dr["CourseDurations"].ToString() != "")
                                                                                                {
                                                                                                    <li>Course Durations: <span>@_dr["CourseDurations"].ToString() </span></li>
                                                                                                }
                                                                                                @if (_dr["ClassRoomHours"].ToString() != "")
                                                                                                {
                                                                                                    <li>Classroom Hours: <span>@_dr["ClassRoomHours"].ToString()</span></li>
                                                                                                }
                                                                                                @if (_dr["CoursePatterns"].ToString() != "")
                                                                                                {
                                                                                                    <li>Examination Pattern: <span>@_dr["CoursePatterns"].ToString()</span></li>
                                                                                                }
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                            <ul>
                                                                                                @if (_dr["CourseDesc"].ToString() != "")
                                                                                                {
                                                                                                    <li>Course description - location and outline of course : <br /><label style="text-align:justify;">@_dr["CourseDesc"].ToString()</label></li>
                                                                                                }
                                                                                                @if (_dr["AdmissionReq"].ToString() != "")
                                                                                                {
                                                                                                    <li>Admission and Entry Requirements: <br /><label style="text-align:justify;">@_dr["AdmissionReq"].ToString()</label></li>
                                                                                                }
                                                                                            </ul>
                                                                                        </div>

                                                                                        <div class="col-md-12">
                                                                                            <ul class="course-details-list">
                                                                                                @if (_dr["MinimumBatchSize"].ToString() != "")
                                                                                                {
                                                                                                    <li>Minimum Batch Size  : <span>@_dr["MinimumBatchSize"].ToString()</span></li>
                                                                                                }
                                                                                                @if (_dr["InternationalBatchSize"].ToString() != "")
                                                                                                {
                                                                                                    <li>International Batch Size : <span>@_dr["InternationalBatchSize"].ToString()</span></li>
                                                                                                }
                                                                                                @if (_dr["MedicalFitness"].ToString() != "")
                                                                                                {
                                                                                                    <li>Need declaration from student regarding medical fitness : <span>@_dr["MedicalFitness"].ToString()</span></li>
                                                                                                }
                                                                                                @if (_dr["MandatoryMedicalExamination"].ToString() != "")
                                                                                                {
                                                                                                    <li>Mandatory Medical Examination by Institute : <span>@_dr["MandatoryMedicalExamination"].ToString()</span></li>
                                                                                                }
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                            <ul>

                                                                                                @if (_dr["MedicalFitnessDocuments"].ToString() != "")
                                                                                                {
                                                                                                    <li>Documents required from students for medical fitness : <span>@(_dr["MedicalFitnessDocuments"].ToString() == "Other" ? _dr["MedicalFitnessDocumentsOther"].ToString() : _dr["MedicalFitnessDocuments"].ToString())</span></li>
                                                                                                }
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                            @*@foreach (System.Data.DataRow _dr in _ds.Tables[0].Rows)
                                                                {
                                                                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                                        <div class="course-details-right courses_box1">
                                                                            <h4 class="course_title1">Course Title</h4>
                                                                            <ul>
                                                                                <li>Discipline :<span>@_dr["Discipline"].ToString() </span></li>
                                                                                <li>Program Level :<span>@_dr["ProgramLevel"].ToString() </span></li>
                                                                                <li>Name of Course :<span>@_dr["Natureofcourse"].ToString() </span></li>
                                                                                @if (_dr["BranchName"].ToString() != "")
                                                                                {
                                                                                    <li>Branch/Subject :<span>@_dr["BranchName"].ToString() </span></li>
                                                                                }
                                                                                @if (_dr["SeatForForeignStudent"].ToString() != "")
                                                                                {
                                                                                    <li>Total seat offer to foreign student:<span>@_dr["SeatForForeignStudent"].ToString() </span></li>
                                                                                }
                                                                                @if (_dr["AnnualTutionFees"].ToString() != "")
                                                                                {
                                                                                    <li>Course Fee:<span>@_dr["AnnualTutionFees"].ToString() </span></li>
                                                                                }
                                                                                @if (_dr["EligibilityCriteria"].ToString() != "")
                                                                                {
                                                                                    <li>Eligibility Criteria: <br /><label>@_dr["EligibilityCriteria"].ToString()</label></li>
                                                                                }
                                                                                @if (_dr["AnnualTutionFees"].ToString() != "")
                                                                                {
                                                                                    <li>Annual tution fees per Seat:<span>@_dr["AnnualTutionFees"].ToString()  @_dr["AnnualTutionFeesCurrency"].ToString() </span></li>
                                                                                }
                                                                                @if (_dr["AnnualBoardingFees"].ToString() != "")
                                                                                {
                                                                                    <li>Annual tution fees per seat with Boarding:<span>@_dr["AnnualBoardingFees"].ToString()  @_dr["AnnualBoardingFeesCurrency"].ToString()</span></li>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    index++;
                                                                }*@
                                                            @*<div class="col-md-5 col-sm-5 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                                    <div class="course-details-right courses_box2">
                                                                        <h4 class="course_title2">Bridge-Course</h4>
                                                                        <ul>
                                                                            <li>Discipline :<span>text</span></li>
                                                                            <li>Program Level :<span>text</span></li>
                                                                            <li>Name of Course :<span>text</span></li>
                                                                            <li>Branch/Subject :<span>text</span></li>
                                                                            <li>Total seat offer to foreign student:<span>10</span></li>
                                                                            <li>Course Fee:<span>$500</span></li>
                                                                        </ul>

                                                                    </div>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .courses_box1 {
        background: #ffffff none repeat scroll 0 0;
        border-color: #39aade;
        border-style: solid;
        border-width: 1px 1px 4px;
        margin-top: 0;
    }

    .course_title1 {
        background: #39aade none repeat scroll 0 0 !important;
        border-color: #39aade !important;
        color: #ffffff !important;
        padding: 2px 7px;
        font-size: 20px;
        margin-bottom: 3px;
    }

    .course-details-list > li:nth-child(odd) {
        width: 49.5%;
        position: relative;
        float: left;
    }

    .course-details-list > li:nth-child(even) {
        width: 49.5%;
        position: relative;
        float: right;
    }
</style>