
@{
    ViewBag.Title = "Students Accommodation | Facilities in India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Students Accommodation | Facilities in India' />
    <meta name='description' content='I most cases accommodation facility is provided by the institute. Universities may provide option of living in International hostels, Combined Hostels or an option to live outside. Lot of affordablefacilitiesareavailable for students looking for long-term accommodation options.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/planyourstay/accomodation" />

}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Plan Your Studies</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")planyourstay/accomodation">Plan Your Stay</a> / Accommodation</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-9 col-md-9 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title">
                    <h3 class="inner-title"><span>Accommodation</span></h3>

                    <p class="text-justify">Accommodation shall be provided by the institute, otherwise cheap living options will be available through brokers.</p>
                    <p class="text-justify">Different universities will have either of the following facility: </p>


                    <ul class="list-style">
                        <li><i class="fa fa-chevron-circle-right"></i> International Hostels</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Combined Hostels</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Option to live outside</li>
                    </ul>
                    <p class="text-justify">International Student Cells of respective colleges will assist you in finding accommodation. </p>
                    <h4 class="inner-title-h4">Shopping Essentials:</h4>
                    <p class="text-justify">Indian cities are equipped with traditional brick and mortar "kirana" stores for buying all types of essentials. The small towns, just like the big cities are increasingly getting equipped with some malls as well as doorstep delivery of essentials, apart from having the traditional mom and pop stores.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="course-details-right">
                    <h4>Plan Your Stay</h4>
                    <ul>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/moneycosts">Money &amp; Costs </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/dosanddonts">Dos and Donts </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/travelguide">Travel Guide </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/accomodation">Accommodation </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/helplinenos">Help-line Nos </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

