
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageHead{
    <div class="row">
        <div class="col-md-12">
            <h3>REPORTS</h3>
        </div>
    </div>
}
<div class="row">
    <div class="loading"></div>
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-custom">
            <div class="panel-heading">
            </div>
            <div class="tab-container">
                <div class="tab-content">
                    <div id="ApproxCostOfliving" class="panel-body in">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-declaration">
                                    <thead>
                                        <tr class="panel panel-full-color panel-full-success" style=" border:1px solid #110c0c">
                                            <th style="width:5% ; border: 1px solid #110c0c">Srno</th>
                                            <th style="width:80% ; border: 1px solid #110c0c">Report</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            SIIRepository.Adminservice.Phase3_Repository _objRepoDashboard = new SIIRepository.Adminservice.Phase3_Repository();
                                            System.Data.DataSet _ds = _objRepoDashboard.KPIReport_ParameterDetails("AllParameterDetails", "", "", "", "", Session["User_id"].ToString());
                                            if (_ds != null)
                                            {
                                                if (_ds.Tables[0].Rows.Count > 0)
                                                {

                                                    foreach (System.Data.DataRow _dr in _ds.Tables[0].Rows)
                                                    {
                                                        <tr>
                                                            <td class="Level-1">@_dr["Row#"].ToString()</td>

                                                            <td>
                                                                <span class="Level-1">
                                                                    <b>
                                                                        <mark>
                                                                            <span class="Level-1" data-toggle="tooltip" data-custom-class="tooltip" data-html="true" data-placement="top" title="@_dr["HelpText"].ToString()" href="~/Admin/Phase3/NicheReportsList?ParameterCode=@_dr["ParameterCode"].ToString()&SubParameterLevel1Code=&SubParameterLevel2Code=">
                                                                                @_dr["Parameter"].ToString()

                                                                            </span>
                                                                        </mark>
                                                                    </b>
                                                                </span>
                                                                @if (@_dr["HasSubParameters"].ToString() == "1")
                                                                {

                                                                    <table class="table table-bordered table-hover">
                                                                        <thead>
                                                                            <tr>

                                                                                <th style="width:10%">#</th>
                                                                                <th style="width:80%">Report-Name</th>
                                                                                <th style="width:10%">Count</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @{
                                                                               // System.Data.DataSet _dsSub =
                                                                                //System.Data.DataSet _dsSub = _objRepoDashboard.KPIReport_ParameterDetails("SubParameterLevel1", "", @_dr["ParameterCode"].ToString(), "", "", @TempData["User_id"].ToString());
                                                                              
                                                                                        foreach (System.Data.DataRow _drSub in _ds.Tables[1].Select("ParameterCode="+@_dr["ParameterCode"].ToString()))
                                                                                        {
                                                                                            <tr>
                                                                                                <td class="Level-2">
                                                                                                    <a class="Level-2" href="~/Admin/Phase3/NicheReportsList?ParameterCode=@_drSub["ParameterCode"].ToString()&SubParameterLevel1Code=@_drSub["SubParameterLevel1Code"].ToString()&SubParameterLevel2Code="> @_drSub["SubParameterLevel1Code"].ToString()</a>

                                                                                                </td>
                                                                                                <td>
                                                                                                    <span class="Level-2">
                                                                                                        <a class="Level-2 "
                                                                                                           data-toggle="tooltip" data-custom-class="tooltip" data-html="true" data-placement="top" title="@_drSub["HelpText"].ToString()" href="~/Admin/Phase3/NicheReportsList?ParameterCode=@_drSub["ParameterCode"].ToString()&SubParameterLevel1Code=@_drSub["SubParameterLevel1Code"].ToString()&SubParameterLevel2Code=">
                                                                                                            @_drSub["SubParameterLevel1"].ToString()
                                                                                                        </a>
                                                                                                    </span>
                                                                                                    @if (@_drSub["HasSubParameters"].ToString() == "1")
                                                                                                    {

                                                                                                        <table class="table table-bordered table-hover">
                                                                                                            <tbody>
                                                                                                                @{
                                                                                                                    //System.Data.DataSet _dsSub1 = _objRepoDashboard.KPIReport_ParameterDetails("SubParameterLevel2", "", @_drSub["ParameterCode"].ToString(), @_drSub["SubParameterLevel1Code"].ToString(), "", Session["User_id"].ToString());
                                                                                                                    //if (_dsSub1 != null)
                                                                                                                    {
                                                                                                                       // if (_dsSub1.Tables[0].Rows.Count > 0)
                                                                                                                        {
                                                                                                                            foreach (System.Data.DataRow _drSub1 in _ds.Tables[2].Select("ParameterCode="+@_dr["ParameterCode"].ToString()+ "and SubParameterLevel1Code="+ @_drSub["SubParameterLevel1Code"].ToString() ))
                                                                                                                            {
                                                                                                                                <tr>

                                                                                                                                    <td class="Level-3"> <a class="Level-3" href="~/Admin/Phase3/NicheReportsList?ParameterCode=@_drSub1["ParameterCode"].ToString()&SubParameterLevel1Code=@_drSub1["SubParameterLevel1Code"].ToString()&SubParameterLevel2Code=@_drSub1["SubParameterLevel2Code"].ToString()"> @_drSub1["SubParameterLevel2Code"].ToString()</a></td>
                                                                                                                                    <td class="Level-3"><a class="Level-3" data-custom-class="tooltip" data-html="true" data-toggle="tooltip" data-placement="top" title="@_drSub1["HelpText"].ToString()" href="~/Admin/Phase3/NicheReportsList?ParameterCode=@_drSub1["ParameterCode"].ToString()&SubParameterLevel1Code=@_drSub1["SubParameterLevel1Code"].ToString()&SubParameterLevel2Code=@_drSub1["SubParameterLevel2Code"].ToString()">@_drSub1["SubParameterLevel2"].ToString()</a></td>
                                                                                                                                    <td class="Level-3"><a class="Level-3" href="~/Admin/Phase3/NicheReportsList?ParameterCode=@_drSub1["ParameterCode"].ToString()&SubParameterLevel1Code=@_drSub1["SubParameterLevel1Code"].ToString()&SubParameterLevel2Code=@_drSub1["SubParameterLevel2Code"].ToString()">@_drSub1["Score"].ToString()</a></td>
                                                                                                                                </tr>
                                                                                                                            }
                                                                                                                        }
                                                                                                                    }}
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    }

                                                                                                </td>
                                                                                                <td class="Level-2">
                                                                                                    <a class="Level-2" href="~/Admin/Phase3/NicheReportsList?ParameterCode=@_drSub["ParameterCode"].ToString()&SubParameterLevel1Code=@_drSub["SubParameterLevel1Code"].ToString()&SubParameterLevel2Code=">
                                                                                                        @_drSub["Score"].ToString()
                                                                                                    </a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                   
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }

                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>

    .table .table {
        background-color: transparent !important;
    }
</style>

<style>
    .container {
        width: 90% !important;
    }

    .Level-1 {
        color: red;
        font-weight: bold;
        font-size: 14px;
    }

    .Level-2 {
        color: blue;
        font-size: 13px;
    }

    .Level-3 {
        color: black;
        font-size: 13px;
    }

    .FinalScore {
        color: #8B4513;
        font-size: 14px;
    }


    .table {
        margin-bottom: 0px;
    }

    .btn-not-filled {
        cursor: pointer;
        font-size: 13px;
    }

    .table-declaration > tbody > tr > th {
        background-color: #002147;
        border-color: #002147;
        color: #fff;
    }

    .table-declaration > tbody > tr > td {
        border-color: #002147;
    }
</style>