
@{
    ViewBag.Title = "Money & Cost | Studying in India | Living Expenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Money & Cost | Studying in India | Living Expenses' />
    <meta name='description' content='As per UNESCO report, amongst the top 30 countries, India is one of the most economically feasible country for these students.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/planyourstay/moneycosts" />

}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Plan Your Stay</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")planyourstay/moneycosts">Plan Your Stay</a> / Money &amp; Costs</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-9 col-md-9 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title">
                    <h3 class="inner-title"><span>Money & Costs</span></h3>
                    <p class="text-justify">Among the top 30 countries for internationally inbound students according to a UNESCO report, India is one of the most economical viable country for foreign students. The cost of living here is very less as compared to other countries.</p>
                    <p class="text-justify">In India, many reputed universities offer accommodation to their students within campus. However, some universities do not have this facility. In this case a student has the option to rent a room in a private hostel, rent a room on his own (with or without food facility), or get a serviced apartment on rent. There are various benefits that a student gets in each type of accommodation that he/she chooses. A student can experience a comfortable stay for a month within $160. So annually $1850 would make the student's living comfortable, happy, and safe.</p>
                    <h4 class="inner-title-h4">Average other Living Expenses (in USD):</h4>
                    <ul class="list-style">
                        <li><i class="fa fa-chevron-circle-right"></i> Eating out - $24 to $70 per week</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Utility bills - $4 to $10 per week</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Public transport - $4 to $10 per week</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Sports and leisure - $7 to $15 per week</li>
                    </ul>
                    <p class="text-justify">As you can see the cost of studying in India is extremely affordable as compared to various developing countries and extremely low when compared to other developed nations such as the US and UK. Moreover, the quality of education has undergone significant transformation and development over the last decade. </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="course-details-right">
                    <h4>Plan Your Stay</h4>
                    <ul>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/moneycosts">Money &amp; Costs </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/dosanddonts">Dos and Donts </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/travelguide">Travel Guide </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/accomodation">Accommodation </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/helplinenos">Help-line Nos </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
