<div class="f1-step @( ViewBag.ActiveWizardTab == "Basic" ? "active" : "")">
    <div class="f1-step-icon"><i class="fa fa-file-o"></i></div>
    <p>Academic Information</p>
</div>
<div class="f1-step @( ViewBag.ActiveWizardTab == "SelectDisciplines" ? "active" : "")">
    <div class="f1-step-icon"><i class="fa fa-university"></i></div>
    <p>Select Disciplines</p>
</div>
<div class="f1-step @( ViewBag.ActiveWizardTab == "ChoiceFilling" ? "active" : "")">
    <div class="f1-step-icon"><i class="fa fa-list-alt"></i></div>
    <p>Choice Filling</p>
</div>
<div class="f1-step @( ViewBag.ActiveWizardTab == "UploadDocs" ? "active" : "")">
    <div class="f1-step-icon"><i class="fa fa-upload"></i></div>
    <p>Upload</p>
</div>
<div class="f1-step @( ViewBag.ActiveWizardTab == "Submit" ? "active" : "")">
    <div class="f1-step-icon"><i class="fa fa-database"></i></div>
    <p>Submit</p>
</div>