
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags {
    <link rel="canonical" href="https://www.studyinindia.gov.in/planyourstay/helplinenos" />

}

<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Plan Your Stay</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")planyourstay/helplinenos">Plan Your Stay</a> / Help-line Nos</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-9 col-md-9 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title">
                    <h3 class="inner-title"><span>Help-line Numbers</span></h3>
                    <table class="table table-bordered travel-table">
                        <thead class="th-title">
                            <tr>
                                <th>Numbers</th>
                                <th>Help-line Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>100 </td>
                                <td>Police </td>
                            </tr>
                            <tr>
                                <td> 101</td>
                                <td>Fire </td>
                            </tr>
                            <tr>
                                <td> 102 </td>
                                <td>Ambulance </td>
                            </tr>
                            <tr>
                                <td> 103 </td>
                                <td>Traffic Police </td>
                            </tr>
                            <tr>
                                <td> 1031 </td>
                                <td>Anti-Corruption Helpline </td>
                            </tr>
                            <tr>
                                <td> 1033 </td>
                                <td>Emergency Relief Centre on National Highways </td>
                            </tr>
                            <tr>
                                <td> 104 </td>
                                <td>State level helpline for Health </td>
                            </tr>
                            <tr>
                                <td> 104 </td>
                                <td>Hospital On Wheels </td>
                            </tr>
                            <tr>
                                <td> 1066 </td>
                                <td>Anti-poison </td>
                            </tr>
                            <tr>
                                <td> 1070 </td>
                                <td>Central Relief Commissioner for Natural Calamities </td>
                            </tr>
                            <tr>
                                <td> 1070</td>
                                <td>Relief Commissioners of Central/State/Union territory </td>
                            </tr>
                            <tr>
                                <td> 1071</td>
                                <td>Air Accident </td>
                            </tr>
                            <tr>
                                <td> 1072</td>
                                <td>Train accident </td>
                            </tr>
                            <tr>
                                <td> 1073</td>
                                <td>Road Accident </td>
                            </tr>
                            <tr>
                                <td> 1073</td>
                                <td>Traffic Help Line </td>
                            </tr>
                            <tr>
                                <td> 1077</td>
                                <td>Control room of District Collector/Magistrate </td>
                            </tr>
                            <tr>
                                <td> 108 </td>
                                <td>Disaster management </td>
                            </tr>
                            <tr>
                                <td> 1090 </td>
                                <td>Anti terror Helpline/Alert All India </td>
                            </tr>
                            <tr>
                                <td> 1091</td>
                                <td>Women in Distress </td>
                            </tr>
                            <tr>
                                <td> 1092 </td>
                                <td>Earth-quake Help line service </td>
                            </tr>
                            <tr>
                                <td> 1096</td>
                                <td>Natural disaster control room </td>
                            </tr>
                            <tr>
                                <td> 1097</td>
                                <td>AIDS helpline </td>
                            </tr>
                            <tr>
                                <td> 1097</td>
                                <td>AIDS help line service </td>
                            </tr>
                            <tr>
                                <td> 1098 </td>
                                <td>Child abuse hotline </td>
                            </tr>
                            <tr>
                                <td> 1099 </td>
                                <td>Central Accident and Trauma Services </td>
                            </tr>
                            <tr>
                                <td> 1099</td>
                                <td>Catastrophe & Trauma service </td>
                            </tr>
                            <tr>
                                <td> 112 </td>
                                <td>General emergency Department of Telecommunications (DoT) </td>
                            </tr>
                            <tr>
                                <td> 112 </td>
                                <td>All in one Emergency Number </td>
                            </tr>
                            <tr>
                                <td> 1320, 131, 1321 </td>
                                <td>Indian Railway General Enquiry </td>
                            </tr>
                            <tr>
                                <td> 1322 </td>
                                <td>For any theft or harassment, nuisance caused due to smoking or alcohol consumption on train </td>
                            </tr>
                            <tr>
                                <td> 1322</td>
                                <td>Indian Railway Security Helpline </td>
                            </tr>
                            <tr>
                                <td> 133 </td>
                                <td>Railway Helpline for Arrival/Departure and Reservation services </td>
                            </tr>
                            <tr>
                                <td> 139 </td>
                                <td>Railway Enquiry </td>
                            </tr>
                            <tr>
                                <td> 1407 </td>
                                <td>Indian Airlines </td>
                            </tr>
                            <tr>
                                <td> 1414</td>
                                <td> Air India ( Confirmation / Cancellation Enquiry)(Called Party) </td>
                            </tr>
                            <tr>
                                <td> 155200 </td>
                                <td>Military Police Help Line </td>
                            </tr>
                            <tr>
                                <td> 155333 </td>
                                <td>Electricity Complaints </td>
                            </tr>
                            <tr>
                                <td> 1583 </td>
                                <td>National Directory Enquiry (NDQ) Service </td>
                            </tr>
                            <tr>
                                <td> 1602 </td>
                                <td> India Telephone Card Enquiry </td>
                            </tr>
                            <tr>
                                <td> 1717 </td>
                                <td> Weather Enquiry </td>
                            </tr>
                            <tr>
                                <td> 1718</td>
                                <td>Maritime Search and Rescue control room of coastal guard </td>
                            </tr>
                            <tr>
                                <td> 1800-11-0031</td>
                                <td>Drug de-addiction </td>
                            </tr>
                            <tr>
                                <td> 1800-11-4000 </td>
                                <td>National Consumer Helpline </td>
                            </tr>
                            <tr>
                                <td> 1800-11-7800 </td>
                                <td>MyGov Toll Free Number for MannKiBaat for ideas and suggestions </td>
                            </tr>
                            <tr>
                                <td> 1800-111-139 </td>
                                <td>IRCTC Help Line </td>
                            </tr>
                            <tr>
                                <td> 1800-180-1104 </td>
                                <td>National Health Helpline </td>
                            </tr>
                            <tr>
                                <td> 1800-180-5522 </td>
                                <td>Anti Ragging-Emails at helpline@antiragging.in </td>
                            </tr>
                            <tr>
                                <td> 1800-3000-780 </td>
                                <td> Mann Ki Baat on the toll-free number </td>
                            </tr>
                            <tr>
                                <td> 181 </td>
                                <td> Domestic abuse and sexual violence-Women's Helpline </td>
                            </tr>
                            <tr>
                                <td> 1904</td>
                                <td>Indian Army Help Line </td>
                            </tr>
                            <tr>
                                <td> 1906 </td>
                                <td>LPG emergency helpline number </td>
                            </tr>
                            <tr>
                                <td> 1910 </td>
                                <td>Blood bank Information </td>
                            </tr>
                            <tr>
                                <td>1911 </td>
                                <td>Dial a doctor</td>
                            </tr>
                            <tr>
                                <td> 1913 </td>
                                <td>Tourist Office (Govt.of India)</td>
                            </tr>
                            <tr>
                                <td> 1919 </td>
                                <td>Eye bank information service</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-justify">Some State-Wise Helpline numbers can be found on: <A href="http://indianhelpline.com/en/" target="_blank">http://indianhelpline.com/en/</A> </p>
                    <p class="text-justify">Bureau of Immigration numbers: <A href="https://boi.gov.in/content/contact-us-0?page=1" target="_blank">https://boi.gov.in/content/contact-us-0?page=1</A> </p>
                    <p class="text-justify">Expansive database of Hospitals, Dispensaries and Medical Facilities in India: <A href="https://data.gov.in/catalog/hospital-directory-national-health-portal" target="_blank">https://data.gov.in/catalog/hospital-directory-national-health-portal</A> </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="course-details-right">
                    <h4>Plan Your Stay</h4>
                    <ul>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/moneycosts">Money &amp; Costs </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/dosanddonts">Dos and Donts </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/travelguide">Travel Guide </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/accomodation">Accommodation </a></li>
                        <li><i class="fa fa-caret-right blue-text" aria-hidden="true"></i> <a href="@Url.Content("~/")planyourstay/helplinenos">Help-line Nos </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

